$primary   : #10785e; //198754
$secondary : #5d9da5;
$accent    : #9C27B0;

$teal      : #4e8a91;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;